{% extends 'vts/base.html' %}
{% load static %}
{% block title %} Про диплом {% endblock %}

{% block body %}
<div class="item content">
	<font size="5" face="Roboto">
		<article>
			<div class="post-title">
				<div class="entry-icon"><img class="entry-icon" src="{% static 'vts/img/diplom.png' %}"></div>
				<h1 class="entry-title">Диплом КПІ: що треба знати?</h1>
				<div class="post-meta">Стаття, 07 грудня в 19:25</div>
			</div>
			<div class="post-main">
             <h2>Як отримати диплом з відзнакою?</h2>
            <br/>
            <p align="justify">Скористайся можливістю отримати диплом з відзнакою! Все, що вам потрібно зробити – виконати певні критерії, висвітлені в Додатку А «Положення про екзаменаційну комісію та атестацію здобувачів вищої освіти в КПІ ім. Ігоря Сікорського», а Екзаменаційна комісія, що проводить атестацію на факультеті/інституті, оцінюючи їх, приймає рішення про видачу вам диплому з відзнакою.</p>
            <br/>
            <p><b>Критерії для бакалаврів:</b></p>
            <ul>
                <li>здобувач вищої освіти має оцінки «відмінно» не менше як із 75% дисциплін (освітніх компонентів), що виносились на семестровий контроль, а з інших дисциплін - оцінки «дуже добре» та «добре» (тобто 75% оцінок 95+, все інше має бути 75+ і жодних 60-74);</li>
                <li>здобувач вищої освіти склав атестаційні екзамени та/або захистив кваліфікаційну роботу з оцінкою «відмінно» (тобто, на екзамені/захисті отримано 95+)</li>
            </ul>
            <br/>
            <p><b>Критерії для магістрів:</b></p>
            <p align="justify">Критерії для магістрів включають у себе всі критерії для бакалаврів та не менше одного з наступних досягнень:</p>
            <ul>
                <li>публікація у науковому фаховому виданні (не нижче категорії «Б» (кирилицею) або «B» (латиницею)).</li>
                <li>отримання охоронного документу за результатами виконання кваліфікаційної роботи;</li>
                <li>участь у конкурсі стартапів Sikorsky Challenge.</li>
            </ul>
            <br/>
            <h2>Як  покращити оцінки, отримані при навчанні на бакалавраті або в магістратурі, з метою отримання диплому з відзнакою?</h2>
            <br/>
            <h3>Чи існує можливість покращити вже отримані оцінки, щоб підвищити середній бал?</h3>
            <p align="justify">Так, існує. Але, покращення оцінки можливе не раніше наступного семестру (п. 8.14 Положення про поточний, календарний та семестровий контроль результатів навчання в КПІ ім. Ігоря Сікорського)</p>
            <br/>
            <h3>Перескладання для підвищення позитивної оцінки здійснюється безкоштовно чи на платній основі?</h3>
            <p align="justify">Оскільки це є додатковою освітньою послугою, то вона є платною (п. 8.14 Положення про поточний, календарний та семестровий контроль результатів навчання в КПІ ім. Ігоря Сікорського; п. 1.2.2 та п. 1.4.2 Положення про надання додаткових освітніх послуг здобувачам вищої освіти в КПІ ім. Ігоря Сікорського)</p>
            <br/>
            <h3>Яка процедура перескладання дисципліни з метою підвищення оцінки?</h3>
            <p align="justify">Студент звертається з заявою до декана факультету/директора інституту, де він навчається (п. 8.16 Положення про поточний, календарний та семестровий контроль результатів навчання в КПІ ім. Ігоря Сікорського). У випадку позитивного рішення, оформлює документи щодо надання додаткової освітньої послуги в деканаті (процедурні питання викладені в розділі 2 Положення про надання додаткових освітніх послуг здобувачам вищої освіти в КПІ ім. Ігоря Сікорського). Попередньо необхідно узгодити питання перескладання з викладачем, який здійснює викладання даної дисципліни. Якщо він вже не працює, зверніться до деканату, щоб уточнити хто наразі здійснює викладання даної дисципліни. Зверніть увагу, що для проведення контрольних заходів з метою підвищення оцінки створюється комісія з 2-3 викладачів для забезпечення об’єктивності оцінювання (п. 8.17 Положення про поточний, календарний та семестровий контроль результатів навчання в КПІ ім. Ігоря Сікорського).</p>
            <br/>
            <h3>Скільки оцінок можна покращити?</h3>
            <p align="justify">Допускається підвищувати позитивні оцінки не більш як з трьох дисциплін в рамках бакалаврату та/або магістратури (п.8.15 Положення про поточний, календарний та семестровий контроль результатів навчання в КПІ ім. Ігоря Сікорського).</p>
            <br/>
            <h3>Коли можна здійснювати перескладання з метою підвищення оцінки?</h3>
            <p align="justify">Протягом семестру, але обов’язково до початку семестрового контролю/випускної атестації. Врахуйте, що при формуванні замовлення на документи про вищу освіту (формується в системі ЄДЕБО за 1,5 -2 місяці до захисту кваліфікаційних робіт) вже має вказуватись факт надання диплому з відзнакою. Тому доцільно не затягувати процес перескладання до останнього дня. </p>
            <br/>
			</div>
		</article>
	</font>
</div>
{% endblock %}