{% extends 'vts/base.html' %}
{% load static %}
{% block title %} Про оцінювання {% endblock %}

{% block body %}
<div class="item content">
	<font size="5" face="Roboto">
		<article>
			<div class="post-title">
				<div class="entry-icon"><img class="entry-icon" src="{% static 'vts/img/marks.png' %}"></div>
				<h1 class="entry-title">Оцінювання в КПІ: головне що треба знати.</h1>
				<div class="post-meta">Стаття, 13 грудня в 15:05</div>
			</div>
			<div class="post-main">
            <br/>
            <p>Рейтингова система оцінювання дуже проста:</p>
            <p><img src="{% static 'vts/img/ocinki.png' %}" style="border-radius: 5px; width: 710px; height: 500px;" alt="ocinki" ></p>
            <br/>
            <h3>Про додаткові бали</h3>
            <p align="justify">Додаткові бали — одна з можливостей підвищити свій рейтинговий бал, займаючись науковою, мистецькою та громадською діяльністю. Ця можливість закріплена в правилах про призначення стипендії.</p>
            <br/>
            <h3>Отримання балів</h3>
            <p><b>За що видають</b></p>
            <p align="justify">Участь у наукових, мистецьких та спортивних гуртках дає можливість підвищити свій рейтинг успішності. Додаткові бали можна отримати за:</p>
            <ul>
                <li>участь та перемогу в олімпіадах;</li>
                <li>участь в гуртках;</li>
                <li>перемогу в міжнародних та Всеукраїнських змаганнях;</li>
                <li>виступи на наукових конференціях;</li>
                <li>публікацію статей.</li>
            </ul>
            <br/>
            <p><b>Подача</b></p>
            <p align="justify">Для того, щоб подати свою заявку на додаткові бали, потрібно знайти в таблиці вид діяльності, яким ти займався/займалась та написати на пошту відповідальному, вказавши в темі листа «На додаткові бали» та прикріпити документи, які підтверджують твої досягнення:</p>
            <br/>
            <p><b>Вплив на рейтинг та стипендію</b></p>
            <p align="justify">Кількість додаткових балів складає 5% від загального рейтингу. Бал домножається на 0.5. По завершенню календарного року, мають пройти стипендіальні комісії, на яких будуть розглядати твій попередній рейтинг та подання на додаткові бали. </p>
			</div>
		</article>
	</font>
</div>
{% endblock %}