{% extends 'vts/base.html' %}
{% load static %}
{% block title %} Про сесію {% endblock %}

{% block body %}
<div class="item content">
	<font size="5" face="Roboto">
		<article>
			<div class="post-title">
				<div class="entry-icon"><img class="entry-icon" src="{% static 'vts/img/session.png' %}"></div>
				<h1 class="entry-title">Сессія та атестація в КПІ: що треба знати?</h1>
				<div class="post-meta">Стаття, 07 грудня в 19:25</div>
			</div>
			<div class="post-main">            <h2>Сесiя та атестацiя: боятися чи нi?</h2>
            <br/>
            <p align="justify">Навчальна успішність перевіряється контрольними заходами (далі — КЗ). КЗ підтримують зворотній зв'язок між студентом і викладачем, аби була можливість своєчасно коригувати освітній процес. Останній використовує чотири види контролю:</p>
            <br/>
            <ul>
                <li>вхідний;</li>
                <li>поточний;</li>
                <li>рубіжний;</li>
                <li>семестровий.</li>
            </ul>
            <br/>
            <p align="justify"><b>Вхідний контроль</b> — проводиться на початку вивчення нової навчальної дисципліни для визначення підготовки студентів та методів викладання викладачем.</p>
            <p align="justify"><b>Поточний контроль</b> — це домашні завдання, відповіді на парах — усе те, що дозволяє готуватись до рубіжного контролю і орієнтуватись у матеріалі, а викладачеві — давати правильний напрям у його подачі.</p>
            <p align="justify"><b>Рубіжний контроль</b> — вид перевірки, що визначає логічне завершення частини кредитного модуля (далі — КМ). Це самостійні, контрольні, розрахунково-графічні, лабораторні роботи, а також колоквіуми.</p>
            <p align="justify"><b>Семестровий контроль</b> — це заліки, диференційовані заліки, екзамени або курсова робота.</p>
            <br/>
            <p align="justify">За кожен з видів контролю в КМ нараховуються бали, розподіл яких визначає викладач. Система розподілу балів за семестр — це рейтингова система оцінювання (РСО). В рамках кожної дисципліни на першій парі викладач обов’язково ознайомлює студентів зі своєю РСО.</p>
            <br/>
            <h3>Атестації</h3>
            <br/>
            <p align="justify">Атестація є календарним рубіжним контролем. Проводиться на 7–8 та 13–14 навчальних тижнях семестру, з усіх КМ, які є у семестрі.</p>
            <br/>
            <ul>
                <li>Незадовільний результат на двох атестаціях з одного предмету не є підставою для недопуску до екзамену/заліку, за умови, що студент ліквідує заборгованість до початку семестрового контролю.</li>
                <li>Критерії виставлення «а» (атестації) чи «н/а» (неатестації) оголошуються кожним викладачем у рамках КМ.</li>
                <li>Атестації заносяться викладачами до електронної системи «Кампус» і можуть контролюватись або студентами, або викладачем-куратором.</li>
            </ul>
            <br/>
            <h3>Семестровий контроль</h3>
            <br/>
            <p><b>Як дізнатися, з якого предмету екзамен, а з якого — залік?</b></p>
            <br/>
            <p align="justify">Як і РСО, інформація оголошується викладачем на вступній парі. В іншому випадку слід звернутися до старости або в деканат.</p>
            <p align="justify">Залік виставляється за результатами роботи протягом семестру, відповідно до РСО. Позитивна оцінка — це підсумковий рейтинг не менше 60 балів та відсутність заборгованостей у КМ. Якщо студент не отримав залік, але виконав умови допуску до семестрового контролю, залік виставляється за результатами стобальної контрольної роботи (при цьому рейтинговий бал обнуляється). </p>
            <p align="justify">Екзамени складаються у період екзаменаційної сесії згідно з розкладом, що оприлюднюється не пізніше, аніж за місяць до початку сесії. Інтервали між екзаменами не менше двох днів. Екзамен приймає викладач-лектор даної дисципліни. Студент не допускається у випадку заборгованостей або недостатнього рейтингового бала.</p>
            <p align="justify">Недопуск до екзамену/заліку з однієї дисципліни не може слугувати причиною для недопуску з будь-якої іншої. </p>
            <p align="justify">Для неявки на екзамен має бути поважна причина, про яку необхідно заздалегідь повідомити деканат. Поважними причинами вважаються: хвороба (при цьому подається форма Ф-095), необхідність запланованого оперативного втручання, стаціонарного лікування або народження дитини та інших мотивованих та документально підтверджених випадках тощо. </p>
			</div>
		</article>
	</font>
</div>
{% endblock %}