{% extends 'vts/base.html' %}
{% load static %}
{% block title %} Про студентський квиток {% endblock %}

{% block body %}
<div class="item content">
	<font size="5" face="Roboto">
		<article>
			<div class="post-title">
				<div class="entry-icon"><img class="entry-icon" src="{% static 'vts/img/student_ticket.png' %}"></div>
				<h1 class="entry-title">Студентські квитки: що треба знати та як можна зекономити??</h1>
				<div class="post-meta">Стаття, 07 грудня в 19:25</div>
			</div>
			<div class="post-main">
                <h2>Пільги студентського</h2>
            <br/>
            <h3>Софт.</h3>
            <ul>
                <li>У КПІ є підписка на <a href="https://e5.onthehub.com/WebStore/ProductsByMajorVersionList.aspx?ws=0cf64030-16db-e011-b09a-f04da23e67f6&vsro=8" target="_blank">Microsoft Imagine Premium (продукти Microsoft)</a>. Для її отримання досить написати отвественному по факультету на пошту. Видають її не відразу, а централізовано в кінці місяця.</li>
                <li>На GitHub є <a href="https://education.github.com/pack" target="_blank">студентський пак</a>, який дає різні купони, преміум гіт і доступ до купи корисних сервісів для розробників. </li>
            </ul>
            <br/>
            <h3>Кінотеатри.</h3>
            <p>У багатьох кінотеатрах діє система знижок для школярів і студентів. В основному це денні сеанси в будні дні. Найближчі для КПІ:</p>
            <ul>
                <li>Баттерфляй, 2D - 45 грн, 3D - 60 грн з понеділка по четвер до 18:00 і з п'ятниці до неділі (вихідні та святкові дні) до 17:00 на НЕ прем'єрні фільми;</li>
                <li>Супутник, 2D - 40 грн, 3D - 45 грн, будні дні до 18:00 на НЕ прем'єрні фільми.</li>
                <li>Оскар, у будні дні знижка 30 грн. на сеанси з 11:00 до 21:59. Не розповсюджується на квитки, придбані онлайн. Також діють акції в день народження та на попкорн.</li>
            </ul>
            <br/>
            <h3>Театри та музеї</h3>
            <p>Є спеціальні дні,  в які театри можна відвідувати безкоштовно. Адміністратори охоче пускають студентів на вільні місця, таким чином майже завжди виходить пройти в театрі ім. Лесі Українки.</p>
            <br/>
            <h3>Проїзні на громадський транспорт.</h3>
            <p>У студентів є можливість купити проїзний для всіх видів транспорту, реалізованих КіевПасТранстом (метро, трамвай, тролейбус і автобус). </p>
            <br/>
            <h3>Квитки на залізничний транспорт</h3>
            <p>Студенти можуть придбати квитки на плацкарт за половину вартості. Радимо купувати через <a href="https://booking.uz.gov.ua/" target="_blank">офіційний портал продажу</a>, в інших сервісах зазвичай є комісія. А через додаток Укрзалізниці виходить ще трішки дешевше. </p>
            <br/>
            <h3>Розваги</h3>
            <ul>
                <li>У Боулінгу в Блокбастері є дні студента. Коштує задоволення всього 129 грн / год., в робочі дні до 17.00.</li>
                <li>Льодова ковзанка в ТРЦ "Dream Town" в будні дні коштує для студентів 50 грн.</li>
            </ul>
            <br/>
            <h3>Онлайн-сервіси</h3>
            <ul>
                <li>Підписка <a href="https://www.youtube.com/premium" target="_blank">YouTube Premium </a>коштує для студентів - 59 грн./міс.</li>
                <li><a href="https://imagine.microsoft.com/en-us/product" target="_blank">Microsoft Imagine Academy</a> - ще одна пропозиція від Microsoft. Це освітній IT-проект, покликаний долучити студентів до розробки і використання професійного ПО. Після реєстрації і верифікації, учасники отримують доступ до хмарних обчислень на платформі Azure, скачуванню Visual Studio Community, Parallels Desktop, Xamarin Studio, безкоштовний аккаунт аккаунт розробника в Windows Store.</li>
                <li><a href="https://www.adobe.com/creativecloud/plans.html?plan=edu&red=a" target="_blank">Adobe</a>. Раптом ви борець з піратством в інтернеті або просто боїтеся занести віруси на комп'ютер хакнутими версіями програм, це для вас. Розробник надає студентам купон на доступ до програмного пакету Creative Cloud, знижка становить цілих 60%.</li>
                <li><a href="https://www.autodesk.com/education/free-software/featured" target="_blank">Autodesk</a>. Компанія роздає весь свій софт безкоштовно, якщо зареєструвати студентський аккаунт. Дуже вигідно, адже ціна деяких програм компанії коштує більше 1500 $/рік. Учні отримують не тільки безкоштовні інсталяції на два пристрої, але і доступ до навчальних матеріалів програми Autodesk Design Academy.</li>
                <li><a href="https://macpaw.com/macpaw-educational-discount" target="_blank">MacPaw</a>. Український розробник комп'ютерного ПО пропонує для учнів знижку в 30% на всі додатки. Також можна отримати 50% знижку на покупку річної передплати в сервісі SetApp. </li>
                <li><a href="https://www.notion.so/students" target="_blank">Notion</a>. Нотатник з гнучкою структурою: в Notion можна створити дошку, персональну базу даних або просто вести нотатки. Безкоштовний план обмежений 1000 блоками (кожен рядок / елемент - окремий блок). Студенти можуть отримати персональний тариф, який зазвичай коштує $ 4 / міс. У ньому немає обмежень по кількості блоків і доступна історія змін за останні 30 днів.</li>
                <li><a href="https://www.nytimes.com/subscription/inyt/edu/lp89K3S.html?campaignId=69KUJ" target="_blank">The New York Times</a>. Одне з найвідоміших світових видань пропонує безлімітний доступ до матеріалів і додатків за фіксованою ціною в $ 2 / місяць. Це значно дешевше, ніж стандартна цифровий підписки, що стартує від $ 8 / місяць. Також студенти можуть підписатися на тариф All Acces: в ньому є доступ до сервісу NYT Crossword і кулінарній книзі NYT Cooking.</li>
            </ul>
			</div>
		</article>
	</font>
</div>
{% endblock %}