{% extends 'vts/base.html' %}
{% load static %}
{% block title %} Загальна інформація {% endblock %}

{% block body %}
<div class="item content">
	<font size="5" face="Roboto">
		<article>
			<div class="post-title">
				<div class="entry-icon"><img class="entry-icon" src="{% static 'vts/img/general_information.png' %}"></div>
				<h1 class="entry-title">Перші кроки в КПІ: що треба знати першокурснику?</h1>
				<div class="post-meta">Стаття, 07 грудня в 19:25</div>
			</div>
			<div class="post-main">
                <h3>Про гуртожиток</h3>
                <ul>
                    <li>При поселенні може бути шок. Це через зміну обстановки. Жити в гуртожитку можна і треба;</li>
                    <li>Якщо вас поселили із першокурсниками — треба знайти холодильник. Приклейте оголошення по гуртожитках та запитайте у різних кімнатах. Мій холодильник купувався за пиво. Також необхідно, щоб у вас було своє робоче місце;</li>
                    <li>Якщо кожен візьме із собою дві каструлі — у кімнаті буде вісім каструль. Зайвих речей не тримайте.</li>
                    <li>Є безліч людей, яким конспекти вже не потрібні. Вони з радістю їх віддадуть. Усі завдання вже десь є, тому краще зайвий раз запитати.</li>
                    <li>Тарганів може і не бути, але краще потравити. Проведіть генеральне прибирання вже до 1 вересня.</li>
                    <li>Попередній власник може мати ключі від кімнати. Просто пам’ятайте про це. Також ключі завжди є у завідуючої гуртожитком, якій маєте надати дублікат у разі заміни.</li>
                    <li>Гуртожитки у КПІ працюють цілодобово. Та все ж не раджу випробовувати терпіння вахтера після посвяти у першокурсники.</li>
                    <li>Є спортзал та робоча кімната.</li>
                    <li>У душі не роззувайтесь. Також у студмістечку є щури.</li>
                    <li>У першокурсників найкращі матраци. Та все ж поміняйте, якщо це не так.</li>
                    <li>Одного дня до кімнати може прийти перевірка. Тримайте все в чистоті. Це стосується і кухні також.</li>
                    <li>Біля вахти є охорона, а вхід до гуртожитків здійснюється за перепустками.</li>
                    <li>Маєте відпрацювати 20 годин на благо гуртожитку. Не менше десяти за семестр.</li>
                    <li>У КПІ є власний інтернет-провайдер.</li>
                </ul>
                <br/>
                <h3>Про пари</h3>
                <ul>
                    <li>Розпитайте у старшокурсників про викладачів та процес здачі.</li>
                    <li>Не допускайте хаосу. Краще відразу створити ряд папок для навчання, електронну пошту та спільноту вк для групи.</li>
                    <li>Більшість книг доступні в інтернеті. Краще скачайте, щоб в кінці семестру не було проблем з бібліотекою (боржників не допускають до сесії).</li>
                    <li>Краще ходити на всі пари. Принаймні на перших порах.</li>
                    <li>Староста має користуватись авторитетом, а також бути і неформальним лідером.</li>
                    <li>У корпусах немає гарячої води, а також у жахливому стані туалети. Багато людей палять. Парти також не нові.</li>
                    <li>Із часом ви станете забувати правопис. Старайтесь знаходити час для читання книг, не пов’язаних із навчанням. Але тільки тоді, коли все виконали.</li>
                    <li>Писати каліграфічно не обов’язково, але розбірливими конспекти повинні бути, інакше до екзамену готуватись буде набагато важче.</li>
                    <li>Першокурсників видно здалеку по характерній поведінці.</li>
                    <li>Перша лекція із фізичної підготовки — вступна. Це саме стосується і лабораторних робіт, на яких буде розказано про техніку безпеки. Вам встигнуть набриднути, пояснюючи суть кредитно-модульної системи.</li>
                    <li>У КПІ є шикарний вибір виду спорту, на який ви будете ходити. Плавання краще не пропускати взагалі, адже це буде боргом, який треба відпрацювати. Фіз. підготовка буде протягом двох років.</li>
                    <li>Зимова сесія завжди легша за літню.</li>
                    <li>Краще здавати все вчасно. Обсяг роботи буде здаватись нереальним, але легше з часом не стане. Ви звикнете і це стане нормою.</li>
                    <li>У кожної групи є куратор та студкуратор (старшокурсник). Вони допомагають організувати першокурсників, але швидко зливаються. Раджу записати мобільний та підтримувати зв’язок.</li>
                </ul>
                <br/>
                <h3>Про інше</h3>
                <ul>
                    <li>Стипендія закінчиться дуже швидко, та все ж працювати на першому курсі не бажано.</li>
                    <li>Підпишіться на різного роду КПІшні пабліки, так ви будете першими дізнаватись новини. В КПІ проводять івенти чи не щодня.</li>
                    <li>Ви швидко опануєте, як правильно писати хештеги.</li>
                    <li>Якщо скажуть вступати до якоїсь студентської організації — пам’ятайте, що це не є обо’вязковим та може нести за собою відрахування із стипендії.</li>
                    <li>Медогляд затягнеться не на одну годину. Встигніть взяти довідку про флюрографію, а ще краще зробіть її вдома без черг. Це спростить медогляд в рази.</li>
                    <li>У перші дні хлопці матимуть додатковий клопіт із воєнним комісаріатом у зв’язку із зміною місця проживання.</li>
                    <li>В принципі, Поляна створена для занять із йоги, духовного розвитку та високоінтелектуальних розмов. На практиці це не зовсім так.</li>
                    <li>КПІшну атмосферу варто почати пізнавати із Поляни, історії створення Вежі та паровоза.</li>
                    <li>У першому та сьомому корпусах є столові, причому у сьомому їх аж дві. Ціни вас приємно здивують.</li>
                    <li>Студентський квиток будуть виробляти довго. Це гарантія знижки у багатьох місцях, починаючи від музею та закінчуючи квитком на потяг.</li>
                    <li>Найдешевше купувати продукти в АТБ та Ашані.</li>
                </ul>
			</div>
		</article>
	</font>
</div>
{% endblock %}