{% extends 'vts/base.html' %}
{% load static %}
{% block title %} Телеграм канали КПІ {% endblock %}

{% block body %}
<div class="item content">
	<font size="5" face="Roboto">
		<article>
			<div class="post-title">
				<div class="entry-icon"><img class="entry-icon" src="{% static 'vts/img/telegramkpi.png' %}"></div>
				<h1 class="entry-title">Телеграм канали КПІ.</h1>
				<div class="post-meta">Стаття, 07 грудня в 19:25</div>
			</div>
			<div class="post-main">
            <h3>Каналы:</h3>
            <ul>
                <li><a href="https://t.me/kpilive" target="_blank">KPIlive</a> - основний медіа-агрегаттор КПІшних інтерентів.</li>
                <li><a href="https://t.me/kpi_777" target="_blank">Хороший КПІ</a> - про те, за що ти любиш кращий університет країни.</li>
                <li><a href="https://t.me/kpi_666" target="_blank">Плохой КПИ</a> - про те, що дратує в КПІ.</li>
                <li><a href="https://t.me/hochu_v_kpi" target="_blank">Абитуриент КПИ</a> - найважливіше для майбутніх КПІшників.</li>
                <li><a href="https://t.me/kpikids" target="_blank">Первокурсник КПИ</a> - основний канал для першокурсників.</li>
                <li><a href="https://t.me/kpi_trade" target="_blank">KPI trade </a> - торгова площадка КПІ.</li>
                <li><a href="https://t.me/kpisearch" target="_blank">Бюро находок КПИ</a> - повідомлення про втрачені та знайдені речей на території КПІ.</li>
            </ul>
            <br/>
            <h3>Формальні студентські організації і низові ініціативи:</h3>
            <ul>
                <li><a href="https://t.me/kpicampus" target="_blank">Студгородок</a> - новини про гуртожитках і всім, що пов'язане з її жителями.</li>
                <li><a href="https://t.me/sr_kpi" target="_blank">Студентська Рада КПІ</a> - все про студраду.</li>
                <li><a href="https://t.me/kpi_library" target="_blank">Библиотека КПИ</a> - про заходи в бібліотеці.</li>
                <li><a href="https://t.me/belka_space" target="_blank">Белка</a> - воркспейс в бібліотеці.</li>
                <li><a href="https://t.me/kpi_lampa" target="_blank">Lampa</a> - відкрита лабораторія електроніки.</li>
            </ul>
            <br/>
            <h3>Чаты:</h3>
            <ul>
                <li><a href="https://t.me/kpichat" target="_blank">КПИ flood </a> - флудильня КПІ.</li>
                <li><a href="https://t.me/kpi1898" target="_blank">КПИ discuss </a> - чат для обговорення постів з КПІшних інтернетів</li>
                <li><a href="https://t.me/kpi_help" target="_blank">КПИ help </a> - чат в форматі-питання відповідь</li>
                <li><a href="https://t.me/kpi1898" target="_blank">КПИ discuss </a> - чат для обговорення постів з КПІшних інтернетів</li>
                <li><a href="https://t.me/fictonline" target="_blank">ФИВТonline чат </a> - чат ФІОТ</li>
            </ul>
			</div>
		</article>
	</font>
</div>
{% endblock %}