{% extends 'vts/base.html' %}
{% load static %}
{% block title %} Рейтинг студентів {% endblock %}

{% block body %}

<div class="item content">
	<font size="5" face="Roboto">
		<article>
			<div class="post-title">
				<div class="entry-icon"><img class="entry-icon" src="{% static 'vts/img/studentsrating.png' %}"></div>
				<h1 class="entry-title">Рейтинг студентів: що необхідно знати?</h1>
				<div class="post-meta">Стаття, 10 грудня в 17:35</div>
			</div>
			<div class="post-main">
                <p><b>Як розраховують рейтинговий бал?</b></p>
                <br/>
                <p align="justify">Рейтинговий бал студента на 90% складається з середнього арифметичного балів за іспити, заліки, курсові, практики і на 10% - з додаткових балів за додаткову діяльність. Студент, рейтинговий бал якого нижче 60, не допускається до участі в рейтингу. Також не допускаються студенти, у яких є хоча б одна перездача. Позакредитні дисципліни не враховуються в рейтингу і перездача по ним теж на нього не впливає.</p>
                <br/>
                <p><b>Як визначаються стипендіати?</b></p>
                <br/>
                <p align="justify">Максимальна кількість стипендіатів не повинно перевищувати 45% студентів бюджетної форми навчання в розрізі спеціальності (напрям підготовки). Рейтинг формують зі студентів, які навчаються за однією з навчальним планом, в цьому році - спеціальність (1 курс - бакалаври і магістри), спеціалізація (2, 6 курси), напрям підготовки (3,4 курси). Якщо в списку стипендіатів є студенти, які претендують на соціальну стипендію, то вони вибирають ту стипендію, яку хочуть отримувати. Кордон стипендіатів опускається на відповідну кількість осіб в разі, коли вони вибрали соціальну. Таким чином більше людей отримають академічну стипендію.
                </p>
            </div>
		</article>
	</font>
</div>
{% endblock %}