{% extends 'vts/base.html' %}
{% load static %}
{% load vts_tags %}
{% block title %} Авторизація {% endblock %}
{% block body %}

<div class="item content">
	<font size="5" face="Roboto">
		<article>
			<div class="post-title_register">
				<div class="entry-icon"><img class="entry-icon" src="{% static 'vts/img/login.png' %}"></div>
				<br>
				<h1 class="entry-title" align="center">Авторизація на платформі VTplus</h1>
				<br><br>
				<form method="post">
					{% csrf_token %}
					<div class="form-error">{{ form.non_field_errors }}</div>
					{% for f in form %}
					<label class="text-field__label" for="{{ f.id_for_label }}">{{f.label}}:</label><p>{{ f }}</p>
					<br>
					<div class="form-error">{{ f.errors }}</div>
					{% endfor %}
					<!--{{ form.as_p }}-->
					<br>
					<div class="buttonl"><button type="submit" class="button-gradient">АВТОРИЗАЦІЯ</button></div>
				</form>
			</div>
		</article>
	</font>
</div>
{% endblock %}