{% extends 'vts/base.html' %}
{% load static %}
{% block title %} Про лікарню {% endblock %}

{% block body %}

<div class="item content">
	<font size="5" face="Roboto">
		<article>
			<div class="post-title">
				<div class="entry-icon"><img class="entry-icon" src="{% static 'vts/img/hospital.png' %}"></div>
				<h1 class="entry-title">Поликлиник КПИ: що необхідно знати?</h1>
				<div class="post-meta">Стаття, 10 грудня в 17:35</div>
			</div>
			<div class="post-main">
                <p style="text-align: justify;">По-перше, що б Вам деякі недобросовісні лікарі не казали, дільничного розподілу не існує, є лише лікарі, які закріплені за тою чи іншою медичною установою. З ними можна підписати декларацію, якщо в них є ще не набрана рекомендована кількість пацієнтів (для терапевтів та сімейних лікарів - , для педіатрів - ). Перевірити наявність вільних місць у лікаря можна <a href="https://nszu.gov.ua/gromadyanam/elektronna-karta-misc-nadannya-pmd" target="_blank">тут</a>.</p>
                <br/>
                <p style="text-align: justify;">По-друге, лікар (терапевт/вузькопрофільний спеціаліст) забов’язаний надати Вам первинну та/або термінову медичну домомогу (огляд, діагноз, паперовий без печатки/усний рецепт, первинне лікування та невідкладна допомога). Більш розширені консультації та оформлення довідок усіх форм надаються за наявності декларації з лікарем у будь-якій медичній установі (державній комунальній або приватній, якщо лікарі та лікарня в цілому зареєстровані в системі eHealth).</p>
                <br/>
                <p style="text-align: justify;">По-третє, існує перелік послуг, які чітко визначені Національною службою здоров’я та Міністерством охорони здоров’я України, які надаються безоплатно. Актуальний список таких послуг можна знайти на інформаційних плакатах в лікарнях з грифом МОЗ нагорі та на офіційному сайті МОЗ. Всі інші послуги та деякі консультації можуть бути платними та оплачуються у касі лікарні або в електронному вигляді на розрахунковий рахунок лікарні. Всі інші види оплати є незаконними. !!! Почастішали випадки поборів з темами «зборів на канцелярію» та «домовленостей» за лікарями. Нагадуємо, абсолютно всі довідки та лікарняні листи, їх ведення, оформлення та гашення є безкоштовним та не потребує «оплати бланків» чи «канцелярських дрібничок». Всі лікарі забезпечені в необхідній кількості всією канцелярією та бланками довідок усіх доступних форм.</p>
                <br/>
                <p style="text-align: justify;">Тепер перейдемо до особливої «касти» - студентство. Особливо це стосується міст, які мають медичні заклади, які направлені на обслуговування студентів певного ВНЗ чи загальноміські студентські поліклініки. Покажемо на прикладі міста Києва. В Києві пам’ятником «совкової» системи охорони здоров’я є Студентська міська поліклініка (Політехнічна вул., буд. № 25/29) та її поліклінічне відділення, яке обслуговує студентів НТУУ «КПІ ім. Ігоря Сікорського». Студенти можуть звертатись як до комунальних закладів охорони здоров’я, так і до таких поліклінік задля отримання медичних послуг, оформлення довідок і.т.д. Але з кожним днем до останніх студенти звертаються неохоче через неналежну якість надання послуг, хамське відношення терапевтів чи деяких спеціалістів, ненадання студентам вибору, до якого лікаря звертатись. Навіть у випадку відсутності лікаря, стає проблематично отримати послуги в іншого, який його заміщає. </p>
                <br/>
                <p style="text-align: justify;">Деякі ВНЗ потребують надання деяких довідок, які можна отримати в будь-якій лікарні, саме зі штемпелями студентських лікарень або «завірення» їх у факультетського/інститутського/університетського терапевта або вузькопрофільного спеціаліста студентської поліклініки. На перший погляд це, здавалось би, логічно, але за існуючих норм законодавства, абсолютно суперечить здоровому глузду та породжує корупцію та систему «знайомий задля знайомого». Такі лікарні в скорому майбутньому перестануть існувати та/або перейдуть на систему eHealth задля викорінення системи лікарів, закріпленими за ВНЗ та його факультетами. Тож поки медична реформа добирається до цих поліклінік, студенти можуть (і навіть повинні) звертатись до міських комунальних закладів охорони здоров’я до «своїх» педіатрів та терапевтів, з якими вони заключать декларації, незалежно від ВНЗ, в якому вони навчаються.</p>
                <br/>
                <p><b>Всім благ та міцного здоров’я!</b></p>
            </div>
		</article>
	</font>
</div>
{% endblock %}