{% extends 'vts/base.html' %}
{% load static %}
{% block title %} Приймальна комісія {% endblock %}

{% block body %}

<div class="item content">
	<font size="5" face="Roboto">
		<article>
			<div class="post-title">
				<div class="entry-icon"><img class="entry-icon" src="{% static 'vts/img/vstupcom.png' %}"></div>
				<h1 class="entry-title">Приймальна комісія КПИ: що необхідно знати?</h1>
				<div class="post-meta">Стаття, 10 грудня в 17:35</div>
			</div>
			<div class="post-main">
              <p style="text-align: justify">Привіт, абітурієнте! До студентського життя залишився тільки один крок — подача оригіналів документів. Це простіше, аніж скласти ЗНО, проте є нюанси. Мерщій розбиратись! Ось необхідний перелік документів:</p>
              <br/><p><img src="{% static 'vts/img/documentskpi.png' %}" style="border-radius: 5px; width: 710px; height: 700px;" alt="documentskpi"></p>
              <br/>
              <p><b>Декілька порад:</b></p>
              <ul>
                <li>Батьків до приймальної комісії не пускають. Виключення — абітурієнти-контрактники, яким не виповнилось 18 років.</li>
                <li>Не слід бігти до приймальної комісії першого ж дня. Бюджетні місця вже закріплено за абітурієнтами, тож передати іншому місце не можуть. </li>
                <li>Ті, хто претендує на навчання на контракті, спокійно очікують: в них є час принести оригінали до 17:00 6 серпня.</li>
                <li>Батьки, друзі, сусіди не можуть подати за тебе документи. Їх приносить особисто вступник.</li>
                <li>Важливо правильно підписати конверти. Оскільки університет надсилатиме тобі лист про зарахування, всю інформацію від вступника треба вписати в поле отримувача.</li>
                <li>Щоб операторам приймальної комісії було легше, рекомендуємо написати на звороті фото П.І.Б.</li>
                <li>Порада із власного досвіду: ідеальне число копій документів — по 3 кожного.</li>
              </ul>
              <br/>
              <p><b>Успіхів!</b></p>
            </div>
		</article>
	</font>
</div>
{% endblock %}