{% extends 'vts/base.html' %}
{% load static %}
{% block title %} Про гуртожиток {% endblock %}

{% block body %}
<div class="item content">
	<font size="5" face="Roboto">
		<article>
			<div class="post-title">
				<div class="entry-icon"><img class="entry-icon" src="{% static 'vts/img/dormitory.png' %}"></div>
				<h1 class="entry-title">Пільги на життя в гуртожитках КПІ: що необхідно знати?</h1>
				<div class="post-meta">Стаття, 07 грудня в 19:25</div>
			</div>
			<div class="post-main">
				<br/>
				<p>Згідно з положенням про оплату, студенти денної форми навчання до 23 років при наявності відповідних документів про пільгу можуть жити безкоштовно або з 50% знижкою. Щоб отримати пільгу потрібно здати копії нижчеперелічених докуметов і написати заяву у завідуючої.</p>
				<br/>
				<p><b>Безкоштовно:</b></p>
				<br/>
				<p><i><b>Діти-сироти та діти, позбавлені батьківського піклування:</b></i></p>
				<br/>
				<ul>
					<li>копія свідоцтва про народження;</li>
					<li>копія рішення органу опіки і піклування про присвоєння статусу дитини-сироти або дитини, позбавленої батьківського піклування (за наявності оригіналу);</li>
					<li>копія свідоцтва про смерть батьків (за наявності оригіналу).</li>
				</ul>
				<br/>
				<p><i><b>Для осіб, визнаних учасниками бойових дій:</b></i></p>
				<br/>
				<ul>
					<li>копія свідоцтва про народження (за наявності оригіналу);</li>
					<li>копія свідоцтва учасника бойових дій (за наявності оригіналу);</li>
					<li>довідка органу соціального захисту населення про перебування на обліку в Єдиному державному автоматизованому реєстрі осіб, що мають право на пільги, за зареєстрованим (фактичним) місцем проживання з посиланням на норму законодавства, згідно з якою встановлено статус учасника бойових дій;</li>
					<li>копію довідки про безпосередню участь особи в антитерористичній операції.</li>
				</ul>
				<br/>
				<p style="text-align: justify;"><b><i>Діти, один з батьків який помер після від поранення, контузії чи каліцтва, одержаних в районі проведення антитерористичної операції, бойових дій або збройових конфліктів, а також надалі захворювання, отриманого в період участі в антитерористичній операції:</i></b></p>
				<br/>
				<ul>
					<li>копія свідоцтва про народження (за наявності оригіналу);</li>
					<li>копія довідки або свідоцтва члена сім'ї загиблого ветерана війни (за наявності оригіналу);</li>
					<li>копія свідоцтва про смерть одного з батьків (за наявності оригіналу);</li>
					<li>копія довідки з військкомату, яка підтверджуючого наявність зв'язку смерті з службою;</li>
					<li>довідку органу соціального захисту населення про перебування на обліку в Єдиному державному автоматізорованном реєстрі осіб, що мають право на пільги, за зареестрірованним (фактичним) місцем проживання з посиланням на норму законодавства, згідно з якою встановлено статус учасника бойових дій.</li>
				</ul>
				<br/>
				<p><b>Зі знижкою 50%:</b></p>
				<br/>
				<p><i><b>Діти, один з батьків яких загинув (пропав безвісти) в районі проведення антитерористичної операції, бойових дій або збройових конфліктів:</b></i></p>
				<br/>
				<ul>
					<li>копія свідоцтва про народження (за наявності оригіналу);</li>
					<li>копія довідки або свідоцтва члена сім'ї померлого ветерана війни (за наявності оригіналу);</li>
					<li>копія свідоцтва про смерть одного з батьків (за наявності оригіналу);</li>
					<li>копія довідки з військкомату, яка підтверджуючого наявність зв'язку смерті з службою;</li>
					<li>довідку органу соціального захисту населення про перебування на обліку в Єдиному державному автоматізорованном реєстрі осіб, що мають право на пільги, за зареестрірованним (фактичним) місцем проживання з посиланням на норму законодавства, згідно з якою встановлено статус учасника бойових дій.</li>
				</ul>
				<br/>
				<p><i><b>Діти осіб визнаних учасниками бойових дій:</b></i></p>
				<br/>
				<ul>
					<li>копія свідоцтва про народження (за наявності оригіналу);</li>
					<li>копія свідоцтва учасника бойових дій (за наявності оригіналу);</li>
					<li>довідка органу соціального захисту населення про перебування на обліку в Єдиному державному автоматізорованном реєстрі осіб, що мають право на пільги, за зареестрірованним (фактичним) місцем проживання з посиланням на норму законодавства, згідно з якою встановлено статус учасника бойових дій;</li>
					<li>копію довідки про безпосередню участь особи в антитерористичній операції.</li>
				</ul>
				<br/>
				<p><i><b>Діти, зареєстровані як тимчасово-переміщені особи (ВПО):</b></i></p>
				<br/>
				<ul>
					<li>копія свідоцтва про народження;</li>
					<li>довідку про взяття на облік ВПО (згідно з постановою №509 від 01.10.2014 "Про обліку тимчасово переміщених осіб")</li>
					<li>довідка з Управління праці та соціального захисту населення (відділ субсидії) про НЕ отриманні щомісячної адресної допомоги ВПО для покриття витрат на проживання, в тому числі оплати житлово-комунальних послуг відповідно до постанови КМУ №505.</li>
				</ul>
				<br/>
				<p><i><b>Потерпілі внаслідок аварії на ЧАЕС 1 та 2 категорій:</b></i></p>
				<br/>
				<ul>
					<li>копія паспорта / засвідчує про народження (за наявності оригіналу);</li>
					<li>копія засвідчує потерпілого внаслідок аварії на ЧАЕС (за наявності оригіналу);</li>
					<li>копія засвідчує батька, постраждалого внаслідок аварії на ЧАЕС (якщо батько загинув внаслідок аварії на ЧАЕС, за наявності оригіналу);</li>
					<li>копія довідки, що підтверджує зв'язок смерті батька з аварією (якщо батько загинув внаслідок аварії на ЧАЕС, за наявності оригіналу).</li>
				</ul>
			</div>
		</article>
	</font>
</div>
{% endblock %}